schemata/einleitung.rng

<grammar xmlns="http://relaxng.org/ns/structure/1.0" xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns:telota="http://www.telota.de" xmlns:tei="http://www.tei-c.org/ns/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" ns="http://www.tei-c.org/ns/1.0">


    <start> <!-- Start von eigentliches TEI Dokument -->
        <element name="TEI">
            <a:documentation>Wurzelelement, wird immer benötigt</a:documentation>
            <attribute name="doctype" ns="http://www.telota.de">
                <value>introduction</value>
            </attribute>
            <attribute name="xml:id">
                <text/>
            </attribute>

            <!-- Header -->
            <element name="teiHeader">
                <a:documentation>Beinhaltet die Metadaten zur Einleitung</a:documentation>
                <element name="fileDesc">
                    <element name="titleStmt">
                        <element name="title">
                            <a:documentation>Titel der Einleitung</a:documentation>
                            <text/>
                           <interleave>
                               <optional>
                            <ref name="note"/>
                           </optional>                            
                           </interleave>
                        </element>
                        <optional>
                            <element name="editor">
                                <element name="persName">
                                    <optional>
                                        <attribute name="ref"/>
                                    </optional>
                                    <element name="surname"><text></text></element>
                                    <element name="forename"><text></text></element>
                                </element>
                            </element>
                        </optional>
                    </element>
                    <element name="editionStmt">
                        <a:documentation>Angaben zur Edition</a:documentation>
                        <element name="edition">
                           <oneOrMore>    
                            <element name="title">
                                <optional>
                                <attribute name="type">
                                    <text/>
                                </attribute>
                                </optional>
                                <optional>
                                <attribute name="n">
                                </attribute>
                                </optional>
                                <text/>
                            </element>
                            </oneOrMore>      
                        </element>
                        <optional>
                        <oneOrMore>
                            <element name="respStmt">
                                <a:documentation>Beinhaltet Name und Tätigkeit der Autoren,
                                    Bearbeiter und Herausgeber</a:documentation>
                                <element name="name">
                                    <text/>
                                    <a:documentation>Name</a:documentation>
                                </element>
                                <element name="resp">
                                    <text/>
                                    <a:documentation>Tätigkeit</a:documentation>
                                </element>
                            </element>
                        </oneOrMore>
                        </optional>
                    </element>
                    <element name="publicationStmt">
                        <element name="publisher">
                            <text/>
                        </element>
                    </element>
                    <element name="sourceDesc">
                        <element name="p">
                            <text/>
                        </element>
                    </element>
                </element><!-- Ende fileDesc -->

            </element><!-- ################# TEXT ##################### -->
            <element name="text">
                <element name="body">
                    <interleave>
                        <oneOrMore>
                            <element name="div">
                                <attribute name="type">
                                    <choice>
                                        <value>chapter</value>
                                        <value>subchapter</value>
                                    </choice>
                                </attribute>
                                <!-- Eigentlicher Inhalt -->
                                <ref name="Textstruktur-Core"/>
                            </element><!-- Ende divs -->
                        </oneOrMore>
                    </interleave>
                </element><!-- Ende: body -->
            </element><!-- Ende: text -->
        </element><!-- Ende: TEI -->
    </start> <!-- Ende von eigentliches TEI Dokument -->


    

    <!-- Start von Definitionen, Elemente -->
    <define name="Textstruktur-Core">
        <ref name="Textstruktur-Absätze"/>
        <ref name="Textstruktur-Inline"/>
    </define>
    <define name="Textstruktur-Absätze">
        <interleave>
            <zeroOrMore>
                <ref name="div"/>
            </zeroOrMore>
            <zeroOrMore>
                <ref name="p"/>
            </zeroOrMore>
            <zeroOrMore>
                <ref name="list"/>
            </zeroOrMore>
            <zeroOrMore>
                <ref name="head"/>
            </zeroOrMore>
            <zeroOrMore>
                <optional>
                    <ref name="pb"/>
                </optional>
            </zeroOrMore>
            <zeroOrMore>
            <optional>
                <ref name="note"/>
            </optional>
            </zeroOrMore>
            <zeroOrMore>
                <optional>
                    <ref name="lb"/>
                </optional>
            </zeroOrMore>
        </interleave>
    </define>
    <define name="Textstruktur-Inline">
        <interleave>
            <zeroOrMore>
                <ref name="list"/>
            </zeroOrMore>
            <zeroOrMore>
                <ref name="orgName"/>
            </zeroOrMore>
            <zeroOrMore>
                <ref name="note"/>
            </zeroOrMore>
            <zeroOrMore>
                <ref name="ref"/>
            </zeroOrMore>
            <zeroOrMore>
                <ref name="placeName"/>
            </zeroOrMore>
            <zeroOrMore>
                <ref name="persName"/>
            </zeroOrMore>
            <zeroOrMore>
                <ref name="bibl"/>
            </zeroOrMore>
            <zeroOrMore>
                <ref name="hi"/>
            </zeroOrMore>
            <zeroOrMore>
                <ref name="pb"/>
            </zeroOrMore>
            <zeroOrMore>
                <ref name="lb"/>
            </zeroOrMore>
            <zeroOrMore>
                <ref name="index"/>
            </zeroOrMore>
            <zeroOrMore>
                <ref name="anchor"/>
            </zeroOrMore>
        </interleave>
    </define>
    <define name="div">
        <element name="div">
            <a:documentation>Element für Unterteilung des Textes</a:documentation>
            <attribute name="type">
                <choice>
                    <value>chapter</value>
                    <value>subchapter</value>
                </choice>
            </attribute>
            <zeroOrMore>
                <interleave>
                    <text/>
                    <ref name="Textstruktur-Absätze"/>
                </interleave>
            </zeroOrMore>
        </element>
    </define>
    <define name="head">
        <element name="head">
            <a:documentation>Überschriften innerhalb Text</a:documentation>
            <optional><attribute name="type">
                <choice>
                    <value>h1</value>
                    <value>h2</value>
                    <value>h3</value>
                    <value>h4</value>
                </choice>
            </attribute></optional>
            <interleave>
                <ref name="Textstruktur-Inline"/>
                <text/>
            </interleave>
        </element>
    </define>
    <define name="p">
        <element name="p">
            <a:documentation>Element für normale Absätze</a:documentation>
            <zeroOrMore>
                <interleave>
                    <text/>
                    <ref name="Textstruktur-Inline"/>
                </interleave>
            </zeroOrMore>
        </element>
    </define>
    <define name="list">
        <element name="list">
            <a:documentation>Liste</a:documentation>
            <attribute name="type">
                <choice>
                    <value>ordered</value>
                    <value>bulleted</value>
                </choice>
            </attribute>
            <oneOrMore>
                <element name="item">
                    <interleave>
                        <text/>
                        <ref name="Textstruktur-Inline"/>
                    </interleave>
                </element>
            </oneOrMore>
        </element>
    </define>
    <define name="ref">
        <element name="ref">
            <a:documentation>Expliziter Verweis im Text oder Link zu Brief</a:documentation>
            <interleave>
                <optional>
                    <attribute name="type"> <!-- for url links -->
                            <value>url_link</value>
                    </attribute>
                </optional>
                <optional>
                    <attribute name="n">
                        <text/>
                    </attribute>
                </optional>
                <optional>
                    <attribute name="target">
                        <text/>
                    </attribute>
                </optional>
            </interleave>
           <interleave>
            <text/>
            <ref name="Textstruktur-Inline"/>
           </interleave>
        </element>
    </define>
    <define name="orgName"> <!-- Schleiermacher braucht nicht -->
        <element name="orgName">
            <optional>
                <attribute name="key">
                    <text/>
                </attribute>
            </optional>
            <text/>
            <ref name="Textstruktur-Inline"/>
        </element>
    </define>
    <define name="placeName">
        <element name="placeName">
            <a:documentation>Geographischer Ort, in der Regel ein Dorf oder eine
                Stadt</a:documentation>
           <interleave>
            <attribute name="key">
                <text/>
            </attribute>
            <attribute name="corresp">
                <text/>
            </attribute>
           </interleave>
            <interleave>
                <text/>
                <ref name="Textstruktur-Inline"/>
            </interleave>
        </element>
    </define>
    <define name="persName">
        <element name="persName">
            <a:documentation>Personenname</a:documentation>
            <interleave>
            <attribute name="key">
                <text/>
            </attribute>
            <optional>
                <attribute name="corresp">
                    <text/>
                </attribute>
            </optional>
            <optional>
                <attribute name="type"><!-- für Tagebücher, um Briefkorrespondenzpartner auszuzeichnen -->
                    <choice>
                        <value>normal</value>
                        <value>recipient</value>
                        <value>sender</value>
                    </choice>
                </attribute>
            </optional>
            </interleave>
            <interleave>
                <text/>
                <ref name="Textstruktur-Inline"/>
            </interleave>
        </element>
    </define>
    <define name="bibl">
        <element name="bibl">
            <a:documentation>Titel eines Werkes</a:documentation>
            <interleave>
            <optional>
                <attribute name="sameAs">
                    <text/>
                </attribute>
            </optional>
            <optional>
                <attribute name="type">
                   <value>bibelstelle</value>
                </attribute>
            </optional>
            <attribute name="corresp">
                <text/>
            </attribute>
            </interleave>
            <interleave>
                <ref name="Textstruktur-Inline"/>
                <text/>
            </interleave>
        </element>
    </define>
    <define name="hi">
        <element name="hi">
            <a:documentation>Hervorhebungen, z.B. Unterstreichungen</a:documentation>
            <optional>
                <attribute name="rendition">
                    <choice>
                        <value>#u</value><!-- unterstrichen/underline -->
                        <value>#b</value><!-- fett/bold -->
                        <value>#i</value><!-- kursiv/italic -->
                        <value>#g</value><!-- gesperrter Text -->
                    </choice>
                </attribute>
            </optional>
            <interleave>
                <text/>
                <ref name="Textstruktur-Inline"/>
            </interleave>
        </element>
    </define>
   <!-- Seitenwechsel -->
    <define name="pb">
        <element name="pb">
            <a:documentation>Folio- oder Seitenwechsel mit Angabe der nun folgenden
                Seite</a:documentation>
            <optional>
                <attribute name="ed">
                        <value>einleitung</value>
                </attribute>
            </optional>
            <attribute name="n">
                <data type="string"/>
            </attribute>
        </element>
    </define>
    <!-- Zeilenumbruch-->
    <define name="lb">
        <element name="lb">
            <a:documentation>Zeilenumbruch</a:documentation>
            <empty/>
        </element>
    </define>
    <!-- kommentar -->
    <define name="note">
        <element name="note">
            <a:documentation>Fußnote des Editors</a:documentation>
            <attribute name="resp">
                    <value>editor</value>
            </attribute>
            <attribute name="type">
                <choice>
                    <value>foot</value>
                </choice>
            </attribute>
            <interleave>
                <text/>
                <ref name="Textstruktur-Inline"/>
                <optional>
                    <oneOrMore>
                        <ref name="p"/>
                    </oneOrMore>
                </optional>
            </interleave>
        </element>
    </define>

    <!-- Verweisziele & Indexbereiche -->
    <define name="anchor">
        <element name="anchor">
            <a:documentation>Markiert Verweisziele</a:documentation>
            <attribute name="type">
                <choice>
                    <value>verweisziel</value>
                    <value>indexbereich</value>
                </choice>
            </attribute>
            <attribute name="xml:id">
                <data type="string"/>
            </attribute>
        </element>
    </define>


    <!-- Index -->
    <define name="index">
        <element name="index">
            <choice>
                <group>
                   <interleave>
                    <attribute name="indexName">
                        <choice>
                            <value>personen</value>
                            <value>orte</value>
                            <value>werke</value>
                        </choice>
                    </attribute>
                    <attribute name="spanTo">
                        <data type="string"/>
                    </attribute>
                    <attribute name="corresp">
                        <data type="string"/>
                    </attribute>
                   </interleave>
                    <element name="term">
                        <text/>
                    </element>
                </group>
                <group>
                    <interleave>
                    <attribute name="indexName">
                        <value>bibelstellen</value>
                    </attribute>
                    <attribute name="spanTo">
                        <data type="string"/>
                    </attribute>
                    </interleave>
                    <element name="term">
                        <text/>
                    </element>
                </group>
            </choice>
        </element>
    </define>

</grammar>
